<div class="row" data-controller="datepicker">
  <div data-datepicker-target="dateForm" data-bookings="<%= [].to_json %>"></div>
  
  <div class="col-md-8 my-3">
    <%= form_with url: stones_path, method: :get, local: true do |f| %>
      
      <!-- Barre de recherche -->
      <div class="form-inline mb-3">
        <%= text_field_tag :query, 
              params[:query], 
              class: "form-control mr-3", 
              placeholder: "Entrez un mot clé" %>

<!-- Bouton rechercher -->
      <%= f.submit "Rechercher", class: "btn btn-primary mt-3" %>

        <!-- Bouton pour afficher/masquer le calendrier -->
        <button type="button" 
                class="btn btn-outline-secondary" 
                data-action="click->datepicker#toggleCalendar">
          📅 Choisir une date
        </button>
      </div>

      <!-- Champs de date masqués -->
      <div id="datepicker-container" 
           class="d-none p-3 border rounded bg-light" 
           data-datepicker-target="datepickerContainer"
           style="max-width: 400px; width: 100%;">

        <!-- Champ Date de début -->
        <%= f.text_field :start_date, 
                required: false, 
                id: "range_start", 
                class: "d-none", 
                data: { datepicker_target: "start", booking_target: "startDate" } %>
        
        <!-- Champ Date de fin -->
        <%= f.label :end_date, class: "d-none", for: "range_end" %>
        <%= f.text_field :end_date, 
                        required: false, 
                        id: "range_end", 
                        class: "d-none", 
                        data: { datepicker_target: "end", booking_target: "endDate" } %>
      </div>

      
    <% end %>
  </div>
</div>