 <div class="container">
  <div class="form-container">
        <h1>Modifier votre pierre</h1>


      <%# Start form %>
          <%= simple_form_for(@stone) do |f| %>
            <%= f.input :name, label: "Le nom de votre pierre" %>
            <%= f.input :size, as: :select, label: "Sa taille", collection:
                ['Quelques grammes', 'Quelques kilos', 'Quelques tonnes'], include_blank: "Sélectionnez une taille" %>
                <%= f.input :condition, as: :select, label: "État de la pierre", collection:
                ["Neuve de quelques millions d'années", "Moyennement neuve du temps d'avant les dinosaures", "Naissance de la terre"],
                include_blank: "Sélectionnez une taille" %>
            <%= f.input :personnality_traits, label: "Sa personnalité" %>
            <%= f.input :backstory, as: :text, label: "Son histoire", input_html: { rows: 5, class: 'form-control' } %>
            <%= f.association :category, label: "Categorie" %>
            <%= f.input :daily_price, label: "À quel prix souhaitez-vous la proposer ? (€ / jour)" %>

        <%# Start if de la photo actuelle %>
            <% if @stone.photo.attached? %>
              <p>Photo actuelle :</p>
              <%= cl_image_tag @stone.photo.key, height: 100 %>
            <%= f.submit "Enregistrer les modifications", class: "rounded-button primary" %>
            <% end %>
        <%# If end %>


      <%# End du form %>
            <% end %>
  </div>
</div>
