<div class="container">
<%= render 'search' %>

<div class="results-container">
  <div class="cards-stone">
    <% @stones.each do |stone| %>
<%= link_to stone_path(stone), class: "card-link" do %>
        <div class="card-stone">
          <div>
          <% if stone.photo.attached? %>
            <%= cl_image_tag stone.photo.key %>
          <% end %>
          </div>
          <div class="card-body">
            <div class="card-description">
              <p class="card-category"><%= stone.category.name %></p>
              <h5 class="card-name"><%= stone.name %></h5>
              <% if stone.user == current_user %>
              <p class=card-backstory>(votre pierre) <%= truncate(stone.backstory, length: 80, separator: ' ', omission: '...') %></p>
              <% else %>
              <p class="card-backstory"><%= truncate(stone.backstory, length: 80, separator: ' ', omission: '...') %></p>
              <% end %>
            </div>
            <div class="price">
              <p class="card-daily-price"><%= stone.daily_price %>€ par jour</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>

    <div class="map-stone border border-2 ms-4">
      <div style="width: 100%; height: 100%;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
