
<h1>Quelle pierre partageras-tu avec le monde ?</h1>
<div class="row">

  <%= image_tag 'https://images.wemystic.fr/articles/pierres-de-meditation-cover_1517766352.jpg', width:'100%' %>
  <div class="container" style="width:600px;">
          <%= simple_form_for(@stone) do |f| %>
            <%= f.input :name, label: "nom de la pierre" %>
            <%= f.input :size, label: "taille" %>
            <%= f.input :condition, label: "état" %>
            <%= f.input :personnality_traits, label: "personnalité" %>
            <%= f.association :category, label: "Categorie" %>
            <%= f.input :daily_price, label: "Prix journalier" %>
            <%= f.input :photo, as: :file, label: "Photo" %>
            <%= f.submit "Partage cette pierre avec le monde"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
