<<<<<<< HEAD
<h1>Stones#new</h1>
<p>Find me in app/views/stones/new.html.erb</p>
=======
<h1>Quelle amie partagerez vous avec le monde ?</h1>

<%= image_tag 'https://images.wemystic.fr/articles/pierres-de-meditation-cover_1517766352.jpg', width:'900px' %>

<%= simple_form_for(@stone) do |f| %>
  <%= f.input :name, label: "nom de la pierre" %>
  <%= f.input :size, label: "taille" %>
  <%= f.input :condition, label: "état" %>
  <%= f.input :personnality_traits, label: "traits de personnalité" %>
  <%= f.submit %>
<% end %>
>>>>>>> 7d910294967fcfaf1ccb9a41e1fea3622cc8c9af
