<div class="container">
  <h1 class="mt-3">Ajouter une pierre a votre collection</h1>
      <div class="form-container">
            <%= simple_form_for(@stone) do |f| %>
              <%= f.input :name, label: "Nom" %>
              <%= f.input :size, label: "Taille" %>
              <%= f.input :condition, label: "État" %>
              <%= f.input :personnality_traits, label: "Personnalité" %>
              <%= f.association :category, label: "Categorie" %>
              <%= f.input :daily_price, label: "Prix journalier" %>
              <%= f.input :photo, as: :file, label: "Photo" %>
              <%= f.submit "Enregistrer" class: "rounded-button primary"%>
            <% end %>
        </div>
</div>
