
<div>
  <h1>Découvrez <%= @stone.name %></h1>
  <%= link_to "Retourner aux résultats", stones_path %>
  <div class="d-flex justify-content-between" data-controller="stone-show-controller">
    <%# <!-- <%= image_tag @stone.image_url, style: "width: 200px;" %>
    <div class=mx-3>
      <div>
        <h2>L'histoire de cette pierre</h2>
        <%= @stone.backstory %>
        <h2>Rencontrez le propriétaire</h2>
        <%= @stone.user.email %>
      </div>
    </div>

  <div class="container" data-controller="datepicker">
    <h2>Book a stone</h2>
    <div class="form-wrapper" 
    data-controller="booking" 
    data-booking-start-date-value="<%= params[:start_date] %>" 
    data-booking-end-date-value="<%= params[:end_date] %>" 
    data-booking-price-value="<%= Stone.find(params[:id]).daily_price %>">

=======
  <% if @stone.photo.attached? %>
    <%= cl_image_tag @stone.photo.key, style: "width: 200px;", class: "card-img-top" %>
  <% else %>
    <%= cl_image_tag "development/17n6kwpi22xr4dlapk6w6t56qudu", class: "card-img-top", alt: "Image par défaut" %>
  <% end %>

  <div class=mx-3>

    <div>
      <h4>Calcul de prix en JS</h4>      
      <h3 data-booking-target="priceShow"></h3>
    </div>


      <div data-action="change->booking#updatePrice"> 
        <%= simple_form_for [@stone, @booking] do |f| %>
          <%= f.input :start_date, as: :string,
                                  required: false,
                                  label: false,
                                  input_html: { class: "d-none", id: "range_start" , data: {datepicker_target: "start", booking_target: "startDate"}} %>
          <%= f.input :end_date, as: :string,
                                required: false,
                                label: false,
                                input_html: { class: "d-none", id: "range_end", data: {datepicker_target: "end", booking_target: "endDate"} } %>
          <%= f.button :submit, "Book", class: "btn btn-primary" %>
        <% end %>
      </div>
      
      
      </div>

    <div data-datepicker-target="dateForm"
        data-bookings="<%= @bookings_dates.to_json %>">
    </div>
  </div>
</div>  