<!-- 

Cette view ne sert plus puisque la création de Booking se fait dans la show de la pierre. 

<h1>Book <%= @stone.name %> !</h1>

<%= simple_form_for([@stone, @booking]) do |f| %>
<%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
<%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.submit %>
<% end %> 

--->