<div class="mt-5">
<%= link_to 'Proposer une pierre', new_stone_path, class: 'btn border border-2' %>

<h1>Mes pierres</h1>
<div class="mt-5">


<div class="d-flex">
  <div class="cards-stone">
    <% current_user.stones.each do |stone| %>
<%= link_to stone_path(stone), class: "card-link" do %>
        <div class="card-stone">
          <div>
          <% if stone.photo.attached? %>
            <%= cl_image_tag stone.photo.key %>
          <% end %>
          </div>
          <div class="card-body">
            <div class="card-description">
              <p class="card-category"><%= stone.category.name %></p>
              <h5 class="card-name"><%= stone.name %></h5>
              <p class="card-backstory"><%= truncate(stone.backstory, length: 25, separator: ' ', omission: '...') %></p>
            </div>

            <div class="price d-flex justify-content-around">
              <p><%= render 'status' %></p>
              <p class="card-daily-price"><%= stone.daily_price %>€/j</p>
            </div>

          </div>

        </div>
      <% end %>
    <% end %>
    </div>






<h1>Mes demandes</h1>
</div>

<% @bookings.each do |booking| %>

<div style="width:200px">

<% if (booking.status == "Submitted")%>
  <div class="card">
   <% if booking.stone.photo.attached? %>
      <%= cl_image_tag booking.stone.photo.key, class: "card-img-top", style:"width:200px" %>
    <% end %>
    <%= booking.stone.name %>
    <%= booking.stone.user.email %>
    <%= booking.status %>
  </div>
  <%end  %>
  </div>


<% end %>

<div class="mt-5">
<h1>Mes emprunts en cours</h1>

</div>

<% @bookings.each do |booking| %>

<div style="width:200px">

<% if (booking.status == "Confirmed")%>
  <div class="card">
   <% if booking.stone.photo.attached? %>
      <%= cl_image_tag booking.stone.photo.key, class: "card-img-top", style:"width:200px" %>
    <% end %>
    <%= booking.stone.name %>
    <%= booking.stone.user.email %>
    <%= booking.status %>
  </div>
  <%end  %>
  </div>


<% end %>
